# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
PlantCareEnv/

# Flask
instance/

# Uploaded images
static/uploads/*

# Dataset
dataset/

# Large ML files
*.h5
*.hdf5

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env

# Python cache
.pytest_cache/